#!/bin/bash

declare answer

answer="$(gum choose --select-if-one --selected="nix develop" --header="direnv: which environment would you like to use?" --label-delimiter="|" "nix develop|1" "abort|2")"
printf "\n"

case "${answer}" in
1)
	if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
		source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
	fi

	use flake .#default
	;;
*)
	printf "\n"
	printf "Not starting a developer environment.\n"
	printf "\n"

	exit 0
	;;
esac

exit 0
